h1 a{
    color: #FCA205;
    font-family: 'Lobster';
}
body{
    padding-left: 15px;
}
.page-header{
    background-color: #ff9400;
    padding: 20px 20px 20px 40px; /* top right bottom left */
}
.page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
}
.post{
    margin-left: 10px;
}
.post h1 a{
    color: #000000;
}
